<div class="blog-navbar">
    <div id="navbar-standard">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav mr-auto">
                        <span class="navbar-brand">
                            Blog
                        </span>
                    </div>
                    <div class="navbar-nav">
                        <div class="navbar-text">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                            <span>
                                / Blog
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="blog-cards">
                    <img src="/Images/BlogPage/blogthumb.svg">
                    <div class="card" style="width: 275px; height: 304px;">
                        <div class="card-body">
                            <div class="card-date"><h3>29</h3><p> MAR</p></div>
                            <h6 class="card-subtitle">By <span>Adam Moore</span></h6>
                            <p class="card-text">A beautiful scenery in the world we are missing</p>
                            <button type="button" class="btn btn">Travel</button>
                            <button type="button" class="btn btn">Fashion</button>
                            <button id="btnreadmore" type="button" class="btn btn border" onclick="location.href='@Url.Action("BlogDetails", "Blog")'">READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="blog-cards">
                    <img class="img1" src="/Images/BlogPage/blogthumb.svg">
                    <div class="card" style="width: 275px; height: 304px;">
                        <div class="card-body">
                            <div class="card-date"><h3>18</h3><p> JUL</p></div>
                            <h6 class="card-subtitle">By <span>Jonathon Doe</span></h6>
                            <p class="card-text">We love our country, we love our peoples like ourselves</p>
                            <button type="button" class="btn btn">Travel</button>
                            <button type="button" class="btn btn">Fashion</button>
                            <button id="btnreadmore" type="button" class="btn btn border" onclick="location.href='@Url.Action("BlogDetails", "Blog")'">READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="blog-cards">
                    <img src="/Images/BlogPage/blogthumb.svg">
                    <div class="card" style="width: 275px; height: 304px;">
                        <div class="card-body">
                            <div class="card-date"><h3>29</h3><p> MAR</p></div>
                            <h6 class="card-subtitle">By <span>Adam Moore</span></h6>
                            <p class="card-text">A beautiful scenery in the world we are missing</p>
                            <button type="button" class="btn btn">Travel</button>
                            <button type="button" class="btn btn">Fashion</button>
                            <button id="btnreadmore" type="button" class="btn btn border" onclick="location.href='@Url.Action("BlogDetails", "Blog")'">READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="blog-cards">
                    <img class="img1" src="/Images/BlogPage/blogthumb.svg">
                    <div class="card" style="width: 275px; height: 304px;">
                        <div class="card-body">
                            <div class="card-date"><h3>18</h3><p> JUL</p></div>
                            <h6 class="card-subtitle">By <span>Jonathon Doe</span></h6>
                            <p class="card-text">We love our country, we love our peoples like ourselves</p>
                            <button type="button" class="btn btn">Travel</button>
                            <button type="button" class="btn btn">Fashion</button>
                            <button id="btnreadmore" type="button" class="btn btn border" onclick="location.href='@Url.Action("BlogDetails", "Blog")'">READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="blog-cards">
                    <img src="/Images/BlogPage/blogthumb.svg">
                    <div class="card" style="width: 275px; height: 304px;">
                        <div class="card-body">
                            <div class="card-date"><h3>29</h3><p> MAR</p></div>
                            <h6 class="card-subtitle">By <span>Adam Moore</span></h6>
                            <p class="card-text">A beautiful scenery in the world we are missing</p>
                            <button type="button" class="btn btn">Travel</button>
                            <button type="button" class="btn btn">Fashion</button>
                            <button id="btnreadmore" type="button" class="btn btn border" onclick="location.href='@Url.Action("BlogDetails", "Blog")'">READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="blog-cards">
                    <img class="img1" src="/Images/BlogPage/blogthumb.svg">
                    <div class="card" style="width: 275px; height: 304px;">
                        <div class="card-body">
                            <div class="card-date"><h3>18</h3><p> JUL</p></div>
                            <h6 class="card-subtitle">By <span>Jonathon Doe</span></h6>
                            <p class="card-text">We love our country, we love our peoples like ourselves</p>
                            <button type="button" class="btn btn">Travel</button>
                            <button type="button" class="btn btn">Fashion</button>
                            <button id="btnreadmore" type="button" class="btn btn border" onclick="location.href='@Url.Action("BlogDetails", "Blog")'">READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="blog-cards">
                    <img src="/Images/BlogPage/blogthumb.svg">
                    <div class="card" style="width: 275px; height: 304px;">
                        <div class="card-body">
                            <div class="card-date"><h3>29</h3><p> MAR</p></div>
                            <h6 class="card-subtitle">By <span>Adam Moore</span></h6>
                            <p class="card-text">A beautiful scenery in the world we are missing</p>
                            <button type="button" class="btn btn">Travel</button>
                            <button type="button" class="btn btn">Fashion</button>
                            <button id="btnreadmore" type="button" class="btn btn border" onclick="location.href='@Url.Action("BlogDetails", "Blog")'">READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="blog-cards">
                    <img class="img1" src="/Images/BlogPage/blogthumb.svg">
                    <div class="card" style="width: 275px; height: 304px;">
                        <div class="card-body">
                            <div class="card-date"><h3>18</h3><p> JUL</p></div>
                            <h6 class="card-subtitle">By <span>Jonathon Doe</span></h6>
                            <p class="card-text">We love our country, we love our peoples like ourselves</p>
                            <button type="button" class="btn btn">Travel</button>
                            <button type="button" class="btn btn">Fashion</button>
                            <button id="btnreadmore" type="button" class="btn btn border" onclick="location.href='@Url.Action("BlogDetails", "Blog")'">READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-numbers" class="row">
            <div class="container">
                <div class="text-center">
                    <img src="/Images/BlogPage/prevbtn.svg">
                    <p>8<span> 9 </span>10  ...  24 25 26</p>
                    <img src="/Images/BlogPage/nextbtn.svg">
                </div>
            </div>
        </div>
    </div>
</div>